@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.hover\:scale-102:hover {
  transform: scale(1.02);
}
